.hero-background {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below */
  animation: slideUp 2s ease-in-out 0.5s forwards; /* Delay to allow background to fade in first */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
